@charset "UTF-8";
<style type="text/css">

/* Ajoute un filet à gauche des parties textes */
div.text_cell{
	margin-top:-2px;
	margin-bottom:-2px;
	padding-top:2px;
	padding-bottom:2px;
	border-left:5px solid #FFAAFF;
	border-collapse:collapse;
	border-top:none;
	border-bottom:none;
}

/*div.text_cell { width:600px; height:400px; background-color:#FFCC00; }*/
/* configuration des entêtes */
h1 {
	font-size: 40px;
	font-family:Arial, Helvetica, sans-serif;
	color: gold; /*#090;*/
	background-color: dimgrey; /*#FFAAFF;*/
	padding:16px;
	font-weight:lighter;
	-moz-box-shadow: 2px 2px 6px #888;  
	-webkit-box-shadow: 2px 2px 6px #888;  
	box-shadow:2px 2px 6px #888;  
	text-align:center;
	display:block;
	margin:16px;
}
h2 {
	font-size: 18px; font-family:Arial, Helvetica, sans-serif; font-weight:lighter;
	color: gold; background-color: dimgrey;
	padding:12px;
	-moz-box-shadow: 2px 2px 6px #888;  
	-webkit-box-shadow: 2px 2px 6px #888;
	box-shadow:2px 2px 6px #888;  
	text-align:left;
	display:block;
	margin:16px;
}
h3 {
	font-size: 14px; font-family:Arial, Helvetica, sans-serif; font-weight:lighter;
	color: gold; background-color: dimgrey;
	padding:10px;
	-moz-box-shadow: 2px 2px 6px #888;  
	-webkit-box-shadow: 2px 2px 6px #888;  
	box-shadow:2px 2px 6px #888;  
	text-align:left;
	display:block;
	margin:16px;
}
h4 {
	font-size: 12px; font-family:Arial, Helvetica, sans-serif;
	color: #090;
	padding:8px;
	font-weight:lighter;
	-moz-box-shadow: 2px 2px 6px #888;  
	-webkit-box-shadow: 2px 2px 6px #888;  
	box-shadow:2px 2px 6px #888;  
	text-align:left;
	display:block;
	margin:16px;
}
/* Essai de compteurs */
/* body {counter-reset: varh1 ; }*/
/* h1{counter-reset: varh2 ;  }*/
/* h1{counter-increment: varh1 ; }*/
/* h1::before {content: counter(varh1, upper-roman) ". ";}*/
/* h2{counter-reset: varh3 ;  }*/
/* h2{counter-increment: varh2 ; }*/
/* h2::before {content: counter(varh1, upper-roman) "." counter(varh2) ". "; }*/
/* h3{counter-increment: varh3 ; }*/
/* h3::before {content: counter(varh1, upper-roman) "." counter(varh2) "." counter(varh3) ". "; }*/

/* Mise en forme des tables */
table {
	width:90%;
	border-style:solid;
	border-color:#0000FF;
	border-width:2px;
	spacing:0;
	padding:0;
}
th{ background-color: #90EE90; }
td{ border-color:#99CCFF; color:#0000FF; background-color:#FFFF99; }

</style>
